.btn-square-md {
	width: 150px !important;
	height: 150px !important;
}

.btn-square-sm {
	width: 120px !important;
	height: 120px !important;
}

.btn.disabled {
	opacity: 0.2;
}

table {
	color: #000;
}

.selected {
	color:  gold !important;
	border-color:  gold !important;
}

@media (orientation: portrait) {
	#toast-container {
		margin-top: 125px;
	}
}